<header class="maintHeader">
  Clarinet Care & Maintenance
</header>
<div class="maintPage">

<div class="textHolder">
  <p class="maintText">
    The first step to preventing issues and repairs is assembling the clarinet properly. The most common problems I see is students bending the bridge key and students breaking reeds. Here are the steps in order that I recommend when putting together your clarinet.
  </p>
  <p class="maintText">
      1. Make sure that the top bridge key on the upper joint slides over the  portion on the lower joint without smashing into each other. Here is a video that shows this well. <iframe width="560" height="315" src="https://www.youtube.com/embed/JzJTka35GBU" frameborder="0" allowfullscreen></iframe>
  </p>
  <p class="maintText">
      2. Assemble the clarinet. DON”T TOUCH the reed yet, that will come later. The following video is the best one describing all the parts and how they go together. You should lightly grease the corks  every 2-3 times you assemble the clarinet. If the connection feels dry or tight you may need to apply more often.
      <iframe width="560" height="315" src="https://www.youtube.com/embed/i2bHNhdSNN4" frameborder="0" allowfullscreen></iframe>
  </p>
  <p class="maintText">
      3. Be very careful when putting on the tip is very fragile and students tend to break them frequently. The reed needs to be wet so either soak it in water or your mouth for 30 seconds to 1 minute.
    </br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_JCYYzP3U9s" frameborder="0" allowfullscreen></iframe>
  </p>
</div>
<div class="picHolder" style="display:none">
  <img class="maintPic" src="http://tse4.mm.bing.net/th?id=OIP.M9b2ce465b66e0319a038f645a4592f28H0&pid=15.1" />
  <img class="maintPic" src="http://tse3.mm.bing.net/th?id=OIP.Mb9c1475c0ea36c9a1cb0c30688743b94H0&pid=15.1" />
  <img class="maintPic" src="http://tse3.mm.bing.net/th?id=OIP.M36702621be395edb593f8437973f25efH0&pid=15.1" />
</div>
</div>
