<header class="maintHeader">
  Flute Care & Maintenance
</header>
<div class="maintPage">

<div class="textHolder">
  <p class="maintText">
    Flutes can be sensitive so it is important to take proper care to keep your instrument properly functioning. This link describes the steps you should take in caring for your flute.
<a href="http://www.childrensmusicworkshop.com/instruments/flute/maintenance/">http://www.childrensmusicworkshop.com/instruments/flute/maintenance/</a>
  </p>

</div>
<div class="picHolder">
  <img class="maintPic" src="http://tse2.mm.bing.net/th?id=OIP.M022a5efb608af49b609715d655b5245dH0&pid=15.1" />
  <img class="maintPic" src="http://media.animevice.com/uploads/0/3695/289228-gyarados.png" />
  <img class="maintPic" src="http://2.bp.blogspot.com/-G-PutFGnbcs/TyrNtzRALZI/AAAAAAAAAUk/wJEeSK9Gh8U/s1600/131312394348.jpg" />
</div>
</div>
