<header class="maintHeader">
  Saxophone Care & Maintenance
</header>
<div class="maintPage">

<div class="textHolder">
  <p class="maintText">
    I found a great link that goes over your maintenance very well so instead of retyping the info I’ll just share the link.
<a href="http://www.lutherhigh.org/documents/arts/les_band/maintenance/saxophone_maintenance.pdf">http://www.lutherhigh.org/documents/arts/les_band/maintenance/saxophone_maintenance.pdf</a>

  </p>
  <p class="maintText">
    A side note to this info is that I would only clean the mouthpiece every 3-4 weeks. Properly rinsing before playing should decrease the need for frequent cleaning and thus decrease wear and tear.
  </p>

</div>
<div class="picHolder">
  <img class="maintPic" src="http://th03.deviantart.net/fs71/PRE/f/2010/067/5/d/Charmander_by_Woodsman819.jpg" />
  <img class="maintPic" src="http://tse3.mm.bing.net/th?id=OIP.M98031ae4dcc82b668b67d4cd7742775bo0&pid=15.1" />
  <img class="maintPic" src="http://img.gawkerassets.com/img/17twf3hr07z4ojpg/original.jpg" />
</div>
</div>
