<header class="maintHeader">
  Trumpet Care & Maintenance
</header>
<div class="maintPage">

<div class="textHolder">
  <p class="maintText">
    1. The most important aspect of care for your trumpet is to be careful. Don’t balance it upright unless you have a stand. Although dings and dents usually don’t affect the playing they aren’t usually not wanted for appearances sake. This video shows how to “take care” of your trumpet.
  </br> <iframe width="560" height="315" src="https://www.youtube.com/embed/kFCHMLhF9ek" frameborder="0" allowfullscreen></iframe>
  </p>
  <p class="maintText">
    2. Trumpet assembly. Brass instruments are the easiest to assemble but you still need to be careful when putting in the mouthpiece. Here is a video that shows the proper way to put on your mouthpiece. </br><iframe width="560" height="315" src="https://www.youtube.com/embed/QPqs8_1IWy0" frameborder="0" allowfullscreen></iframe>
  </p>
  <p class="maintText">
    3. Oil your valves occasionally when the buttons do not spring back the way they should. </br><iframe width="560" height="315" src="https://www.youtube.com/embed/hkTxCl2TGvY" frameborder="0" allowfullscreen></iframe>
  </p>
  <p class="maintText">
    4. Occassionaly grease your valves as needed.
  </p>
</div>
<div class="picHolder">
  <img class="maintPic" src="http://tse1.mm.bing.net/th?id=OIP.M7b9ddf692c6df64d86bbe4e96ef46a83H0&pid=15.1" />
  <img class="maintPic" src="http://pokiidex.com/Content/Images/008_wartortle.png" />
  <img class="maintPic" src="http://tse4.mm.bing.net/th?id=OIP.M0d73dbeea451671d15a237fefe48791fH0&pid=15.1" />
</div>
</div>
